<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="eHospital" connectionString="Data Source=(local)\SQLEXPRESS;Integrated security=SSPI;Initial Catalog=eHospitalTest"
      providerName="System.Data.SqlClient" />
    <add name="Hospital.Properties.Settings.ehospitalTestConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=ehospitalTest;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>