<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiabetesDido.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DiabetesDido.Properties.Settings.testConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=BenhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DiabetesDido.Properties.Settings>
            <setting name="positiveString" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="negativeString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="negativeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassColumnName" serializeAs="String">
                <value>TieuDuong</value>
            </setting>
            <setting name="AttributeColumnNames" serializeAs="String">
                <value>Tuoi,GioiTinh,Cholesterol,HDL_Cholesterol,Triglyceride,LDL_Cholesterol,Glucose,SGOT,SGPT,Urea,WBC,LYM,MONO,TyLeLYM,TyLeMONO,HGB,RBC,HTC,MCV,MCH,MCHC,RDW_CV,PLT,MPV,PDW,PCT</value>
            </setting>
        </DiabetesDido.Properties.Settings>
    </userSettings>
</configuration>