<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiabetesDido.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DiabetesDido.Properties.Settings.testConnectionString"
            connectionString="Data Source=.;Initial Catalog=BenhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DiabetesDido.Properties.Settings>
            <setting name="positiveString" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="negativeString" serializeAs="String">
                <value>False</value>
            </setting>
        </DiabetesDido.Properties.Settings>
    </userSettings>
</configuration>