USE [eHospital]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PATIENTID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[FIRSTNAME] [nvarchar](100) NULL,
	[LASTNAME] [nvarchar](100) NULL,
	[BIRTHDAY] [smalldatetime] NULL,
	[GENDER] [int] NULL,
	[ICN] [numeric](9, 0) NULL,
	[PROFESSION] [nvarchar](100) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[DEPOSIT] [money] NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_PATIENT] PRIMARY KEY NONCLUSTERED 
(
	[PATIENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PATIENT] ON
INSERT [dbo].[PATIENT] ([PATIENTID], [FIRSTNAME], [LASTNAME], [BIRTHDAY], [GENDER], [ICN], [PROFESSION], [ADDRESS], [DEPOSIT], [STATE]) VALUES (CAST(10000000 AS Numeric(8, 0)), N'Đăng', N'Nguyễn Như Hải', CAST(0x8EC00000 AS SmallDateTime), 1, CAST(123456789 AS Numeric(9, 0)), N'Sinh viên', N'KTX ĐH QG', 0.0000, 0)
INSERT [dbo].[PATIENT] ([PATIENTID], [FIRSTNAME], [LASTNAME], [BIRTHDAY], [GENDER], [ICN], [PROFESSION], [ADDRESS], [DEPOSIT], [STATE]) VALUES (CAST(10000001 AS Numeric(8, 0)), N'Ân', N'Nguyễn Hồng', CAST(0x8EB80000 AS SmallDateTime), 1, CAST(123456789 AS Numeric(9, 0)), N'Sinh viên', N'KTX ĐHQG', 0.0000, 0)
SET IDENTITY_INSERT [dbo].[PATIENT] OFF
/****** Object:  Table [dbo].[MEDICINE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINE](
	[MEDICINEID] [numeric](6, 0) IDENTITY(100000,1) NOT NULL,
	[MEDICINENAME] [nvarchar](100) NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [money] NULL,
 CONSTRAINT [PK_MEDICINE] PRIMARY KEY NONCLUSTERED 
(
	[MEDICINEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MEDICINE] ON
INSERT [dbo].[MEDICINE] ([MEDICINEID], [MEDICINENAME], [QUANTITY], [PRICE]) VALUES (CAST(100000 AS Numeric(6, 0)), N'Alvesin', 1000, 65000.0000)
INSERT [dbo].[MEDICINE] ([MEDICINEID], [MEDICINENAME], [QUANTITY], [PRICE]) VALUES (CAST(100004 AS Numeric(6, 0)), N'Ameiu', 1000, 15000.0000)
INSERT [dbo].[MEDICINE] ([MEDICINEID], [MEDICINENAME], [QUANTITY], [PRICE]) VALUES (CAST(100003 AS Numeric(6, 0)), N'Aminoplasma', 1000, 90000.0000)
SET IDENTITY_INSERT [dbo].[MEDICINE] OFF
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[MATERIALID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[MATERIALNAME] [nvarchar](100) NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [money] NULL,
 CONSTRAINT [PK_MATERIAL] PRIMARY KEY NONCLUSTERED 
(
	[MATERIALID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MATERIAL] ON
INSERT [dbo].[MATERIAL] ([MATERIALID], [MATERIALNAME], [QUANTITY], [PRICE]) VALUES (CAST(101 AS Numeric(3, 0)), N'Chăn', 15, 15000.0000)
INSERT [dbo].[MATERIAL] ([MATERIALID], [MATERIALNAME], [QUANTITY], [PRICE]) VALUES (CAST(102 AS Numeric(3, 0)), N'Mùng&Mèn', 1000, 10000.0000)
SET IDENTITY_INSERT [dbo].[MATERIAL] OFF
/****** Object:  Table [dbo].[MAJOR]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAJOR](
	[MAJORID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[MAJORNAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_MAJOR] PRIMARY KEY NONCLUSTERED 
(
	[MAJORID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MAJOR] ON
INSERT [dbo].[MAJOR] ([MAJORID], [MAJORNAME]) VALUES (CAST(100 AS Numeric(3, 0)), N'Răng hàm mặt')
INSERT [dbo].[MAJOR] ([MAJORID], [MAJORNAME]) VALUES (CAST(101 AS Numeric(3, 0)), N'Điều dưỡng')
INSERT [dbo].[MAJOR] ([MAJORID], [MAJORNAME]) VALUES (CAST(102 AS Numeric(3, 0)), N'Y tá')
SET IDENTITY_INSERT [dbo].[MAJOR] OFF
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPARTMENTID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[DEPARTMENTNAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY NONCLUSTERED 
(
	[DEPARTMENTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTNAME]) VALUES (CAST(100 AS Numeric(3, 0)), N'Khoa phẩu thuật')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTNAME]) VALUES (CAST(102 AS Numeric(3, 0)), N'Khoa nội')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTNAME]) VALUES (CAST(104 AS Numeric(3, 0)), N'Khoa ngoại')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
/****** Object:  Table [dbo].[BILLTYPE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLTYPE](
	[BILLTYPEID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[TYPENAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_BILLTYPE] PRIMARY KEY NONCLUSTERED 
(
	[BILLTYPEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BILLTYPE] ON
INSERT [dbo].[BILLTYPE] ([BILLTYPEID], [TYPENAME]) VALUES (CAST(100 AS Numeric(3, 0)), N'Dịch vụ')
SET IDENTITY_INSERT [dbo].[BILLTYPE] OFF
/****** Object:  Table [dbo].[HOSPITALBED]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITALBED](
	[BEDID] [numeric](3, 0) IDENTITY(1,1) NOT NULL,
	[PATIENT] [numeric](8, 0) NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_HOSPITALBED] PRIMARY KEY NONCLUSTERED 
(
	[BEDID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HOSPITALBED] ON
INSERT [dbo].[HOSPITALBED] ([BEDID], [PATIENT], [STATE]) VALUES (CAST(1 AS Numeric(3, 0)), CAST(0 AS Numeric(8, 0)), 0)
INSERT [dbo].[HOSPITALBED] ([BEDID], [PATIENT], [STATE]) VALUES (CAST(2 AS Numeric(3, 0)), CAST(0 AS Numeric(8, 0)), 0)
INSERT [dbo].[HOSPITALBED] ([BEDID], [PATIENT], [STATE]) VALUES (CAST(3 AS Numeric(3, 0)), CAST(0 AS Numeric(8, 0)), 0)
SET IDENTITY_INSERT [dbo].[HOSPITALBED] OFF
/****** Object:  Table [dbo].[DISEASE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISEASE](
	[DISEASEID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[DISEASENAME] [nvarchar](100) NULL,
	[SYMPTOM] [nvarchar](1000) NULL,
 CONSTRAINT [PK_DISEASE] PRIMARY KEY NONCLUSTERED 
(
	[DISEASEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DISEASE] ON
INSERT [dbo].[DISEASE] ([DISEASEID], [DISEASENAME], [SYMPTOM]) VALUES (CAST(110 AS Numeric(3, 0)), N'Viêm mũi xoang cấp', N'ko')
INSERT [dbo].[DISEASE] ([DISEASEID], [DISEASENAME], [SYMPTOM]) VALUES (CAST(102 AS Numeric(3, 0)), N'Tăng huyết áp', N'Ko')
INSERT [dbo].[DISEASE] ([DISEASEID], [DISEASENAME], [SYMPTOM]) VALUES (CAST(103 AS Numeric(3, 0)), N'Suy tim', N'Ko')
SET IDENTITY_INSERT [dbo].[DISEASE] OFF
/****** Object:  Table [dbo].[TESTTYPE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTTYPE](
	[TESTTYPEID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[TYPENAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_TESTTYPE] PRIMARY KEY NONCLUSTERED 
(
	[TESTTYPEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TESTTYPE] ON
INSERT [dbo].[TESTTYPE] ([TESTTYPEID], [TYPENAME]) VALUES (CAST(100 AS Numeric(3, 0)), N'Xét nghiệm máu')
INSERT [dbo].[TESTTYPE] ([TESTTYPEID], [TYPENAME]) VALUES (CAST(101 AS Numeric(3, 0)), N'Xét nghiệm nước tiểu')
INSERT [dbo].[TESTTYPE] ([TESTTYPEID], [TYPENAME]) VALUES (CAST(102 AS Numeric(3, 0)), N'Chụp X quang')
SET IDENTITY_INSERT [dbo].[TESTTYPE] OFF
/****** Object:  Table [dbo].[ROLE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLEID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[ROLENAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY NONCLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROLE] ON
INSERT [dbo].[ROLE] ([ROLEID], [ROLENAME]) VALUES (CAST(100 AS Numeric(3, 0)), N'Phòng nhân sự')
INSERT [dbo].[ROLE] ([ROLEID], [ROLENAME]) VALUES (CAST(102 AS Numeric(3, 0)), N'Phòng quản lý nhân sự')
INSERT [dbo].[ROLE] ([ROLEID], [ROLENAME]) VALUES (CAST(103 AS Numeric(3, 0)), N'Khoa nhi')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
/****** Object:  Table [dbo].[SERVICE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[SERVICEID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[SERVICENAME] [nvarchar](100) NULL,
	[PRICE] [money] NULL,
 CONSTRAINT [PK_SERVICE] PRIMARY KEY NONCLUSTERED 
(
	[SERVICEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SERVICE] ON
INSERT [dbo].[SERVICE] ([SERVICEID], [SERVICENAME], [PRICE]) VALUES (CAST(100 AS Numeric(3, 0)), N'Khám bệnh', 30000.0000)
INSERT [dbo].[SERVICE] ([SERVICEID], [SERVICENAME], [PRICE]) VALUES (CAST(101 AS Numeric(3, 0)), N'Khám bệnh chuyên khoa', 45000.0000)
INSERT [dbo].[SERVICE] ([SERVICEID], [SERVICENAME], [PRICE]) VALUES (CAST(104 AS Numeric(3, 0)), N'Phẩu thuật', 1000000.0000)
SET IDENTITY_INSERT [dbo].[SERVICE] OFF
/****** Object:  Table [dbo].[ROLEFUNCTION]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLEFUNCTION](
	[FUNCTIONID] [numeric](3, 0) IDENTITY(100,1) NOT NULL,
	[FUNCTIONNAME] [nvarchar](100) NULL,
	[BUTTON] [nvarchar](50) NULL,
 CONSTRAINT [PK_FUNCTION] PRIMARY KEY NONCLUSTERED 
(
	[FUNCTIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROLEFUNCTION] ON
INSERT [dbo].[ROLEFUNCTION] ([FUNCTIONID], [FUNCTIONNAME], [BUTTON]) VALUES (CAST(106 AS Numeric(3, 0)), N'Quản lý bệnh nhân', N'tabItemPatient')
INSERT [dbo].[ROLEFUNCTION] ([FUNCTIONID], [FUNCTIONNAME], [BUTTON]) VALUES (CAST(107 AS Numeric(3, 0)), N'Quản lý hóa đơn', N'tabItemBill')
INSERT [dbo].[ROLEFUNCTION] ([FUNCTIONID], [FUNCTIONNAME], [BUTTON]) VALUES (CAST(108 AS Numeric(3, 0)), N'Quản lý phiếu khám bệnh', N'tabItemExamination')
SET IDENTITY_INSERT [dbo].[ROLEFUNCTION] OFF
/****** Object:  Table [dbo].[ROLEDETAIL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLEDETAIL](
	[ROLEID] [numeric](3, 0) NOT NULL,
	[FUNCTIONID] [numeric](3, 0) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ROLEDETAIL] ([ROLEID], [FUNCTIONID]) VALUES (CAST(105 AS Numeric(3, 0)), CAST(124 AS Numeric(3, 0)))
INSERT [dbo].[ROLEDETAIL] ([ROLEID], [FUNCTIONID]) VALUES (CAST(105 AS Numeric(3, 0)), CAST(113 AS Numeric(3, 0)))
INSERT [dbo].[ROLEDETAIL] ([ROLEID], [FUNCTIONID]) VALUES (CAST(105 AS Numeric(3, 0)), CAST(112 AS Numeric(3, 0)))
/****** Object:  Table [dbo].[SURGICAL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SURGICAL](
	[SURGICALID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[DATE] [smalldatetime] NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_SURGICAL] PRIMARY KEY NONCLUSTERED 
(
	[SURGICALID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SURGICAL] ON
INSERT [dbo].[SURGICAL] ([SURGICALID], [PATIENTID], [DATE], [DESCRIPTION], [STATE]) VALUES (CAST(10000003 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0xA05F0000 AS SmallDateTime), N'aaaa', 1)
INSERT [dbo].[SURGICAL] ([SURGICALID], [PATIENTID], [DATE], [DESCRIPTION], [STATE]) VALUES (CAST(10000004 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(0xA05E0000 AS SmallDateTime), N'aaaa', 0)
INSERT [dbo].[SURGICAL] ([SURGICALID], [PATIENTID], [DATE], [DESCRIPTION], [STATE]) VALUES (CAST(10000005 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(0xA05E0000 AS SmallDateTime), N'aaaa', 0)
SET IDENTITY_INSERT [dbo].[SURGICAL] OFF
/****** Object:  Table [dbo].[STAFF]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAFF](
	[STAFFID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[DEPARTMENTID] [numeric](3, 0) NULL,
	[MAJORID] [numeric](3, 0) NULL,
	[ROLEID] [numeric](3, 0) NULL,
	[PASSWORD] [char](100) NULL,
	[FIRSTNAME] [nvarchar](100) NULL,
	[LASTNAME] [nvarchar](100) NULL,
	[BIRTHDAY] [smalldatetime] NULL,
	[GENDER] [int] NULL,
	[ICN] [numeric](9, 0) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY NONCLUSTERED 
(
	[STAFFID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF] ON
INSERT [dbo].[STAFF] ([STAFFID], [DEPARTMENTID], [MAJORID], [ROLEID], [PASSWORD], [FIRSTNAME], [LASTNAME], [BIRTHDAY], [GENDER], [ICN], [ADDRESS], [STATE]) VALUES (CAST(10000000 AS Numeric(8, 0)), CAST(100 AS Numeric(3, 0)), CAST(103 AS Numeric(3, 0)), CAST(102 AS Numeric(3, 0)), N'admin                                                                                               ', N'Lâm', N'Nguyễn Văn', CAST(0x80C60000 AS SmallDateTime), 1, CAST(273410134 AS Numeric(9, 0)), N'107/10/1 Bình Giã', 0)
INSERT [dbo].[STAFF] ([STAFFID], [DEPARTMENTID], [MAJORID], [ROLEID], [PASSWORD], [FIRSTNAME], [LASTNAME], [BIRTHDAY], [GENDER], [ICN], [ADDRESS], [STATE]) VALUES (CAST(10000002 AS Numeric(8, 0)), CAST(102 AS Numeric(3, 0)), CAST(101 AS Numeric(3, 0)), CAST(102 AS Numeric(3, 0)), N'admin                                                                                               ', N'Bình', N'Ung Quốc', CAST(0x8EB20000 AS SmallDateTime), 1, CAST(123456789 AS Numeric(9, 0)), N'1234', 0)
SET IDENTITY_INSERT [dbo].[STAFF] OFF
/****** Object:  Table [dbo].[ASSIGNMENT]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNMENT](
	[ASSIGNID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[DATE] [smalldatetime] NULL,
	[DISCHARGEDDATE] [smalldatetime] NULL,
	[HOPITALIZATEDATE] [smalldatetime] NULL,
	[PATIENTID] [numeric](8, 0) NULL,
 CONSTRAINT [PK_ASSIGNMENT] PRIMARY KEY NONCLUSTERED 
(
	[ASSIGNID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASSIGNMENT] ON
INSERT [dbo].[ASSIGNMENT] ([ASSIGNID], [DATE], [DISCHARGEDDATE], [HOPITALIZATEDATE], [PATIENTID]) VALUES (CAST(10000002 AS Numeric(8, 0)), CAST(0xA05F0000 AS SmallDateTime), CAST(0xA05F0000 AS SmallDateTime), CAST(0xA05D0000 AS SmallDateTime), CAST(10000000 AS Numeric(8, 0)))
INSERT [dbo].[ASSIGNMENT] ([ASSIGNID], [DATE], [DISCHARGEDDATE], [HOPITALIZATEDATE], [PATIENTID]) VALUES (CAST(10000003 AS Numeric(8, 0)), CAST(0xA0600000 AS SmallDateTime), CAST(0xA0620000 AS SmallDateTime), CAST(0xA05F0000 AS SmallDateTime), CAST(10000001 AS Numeric(8, 0)))
SET IDENTITY_INSERT [dbo].[ASSIGNMENT] OFF
/****** Object:  Table [dbo].[HEATHFILE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEATHFILE](
	[HEATHFILEID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[DATE] [smalldatetime] NULL,
	[PATIENTSTATE] [nvarchar](1000) NULL,
	[PREHISTORY] [nvarchar](1000) NULL,
	[DISEASE] [nvarchar](1000) NULL,
	[TREATMENT] [nvarchar](1000) NULL,
 CONSTRAINT [PK_HEATHFILE] PRIMARY KEY NONCLUSTERED 
(
	[HEATHFILEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HEATHFILE] ON
INSERT [dbo].[HEATHFILE] ([HEATHFILEID], [PATIENTID], [DATE], [PATIENTSTATE], [PREHISTORY], [DISEASE], [TREATMENT]) VALUES (CAST(10000000 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0xA05C058C AS SmallDateTime), N'Edit', N'Edit', N'Edit', N'Edit')
SET IDENTITY_INSERT [dbo].[HEATHFILE] OFF
/****** Object:  Table [dbo].[HIC]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIC](
	[HICID] [numeric](9, 0) NOT NULL,
	[PATIENTID] [numeric](8, 0) NOT NULL,
	[EXPIREDATE] [smalldatetime] NULL,
	[ISSUEDATE] [smalldatetime] NULL,
 CONSTRAINT [PK_HIC] PRIMARY KEY NONCLUSTERED 
(
	[HICID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HEATHMONITORINGNOTE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEATHMONITORINGNOTE](
	[HNID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[STAFFID] [numeric](8, 0) NULL,
	[DATE] [smalldatetime] NULL,
	[WEIGHT] [nvarchar](100) NULL,
	[BLOODPRESSURE] [nvarchar](100) NULL,
	[PATIENTSTATE] [nvarchar](1000) NULL,
 CONSTRAINT [PK_HEATHMONITORINGNOTE] PRIMARY KEY NONCLUSTERED 
(
	[HNID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HEATHMONITORINGNOTE] ON
INSERT [dbo].[HEATHMONITORINGNOTE] ([HNID], [PATIENTID], [STAFFID], [DATE], [WEIGHT], [BLOODPRESSURE], [PATIENTSTATE]) VALUES (CAST(10000002 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000002 AS Numeric(8, 0)), CAST(0xA0580000 AS SmallDateTime), N'bbb', N'bbb', N'bbbbb')
INSERT [dbo].[HEATHMONITORINGNOTE] ([HNID], [PATIENTID], [STAFFID], [DATE], [WEIGHT], [BLOODPRESSURE], [PATIENTSTATE]) VALUES (CAST(10000004 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0xA05D0350 AS SmallDateTime), N'aaaa', N'aaaaaaaa', N'aaaaaa')
SET IDENTITY_INSERT [dbo].[HEATHMONITORINGNOTE] OFF
/****** Object:  Table [dbo].[EXAMINATIONCERTIFICATE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMINATIONCERTIFICATE](
	[ECID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[STAFFID] [numeric](8, 0) NULL,
	[DATE] [smalldatetime] NULL,
	[RESULT] [nvarchar](1000) NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_EXAMINATIONCERTIFICATE] PRIMARY KEY NONCLUSTERED 
(
	[ECID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EXAMINATIONCERTIFICATE] ON
INSERT [dbo].[EXAMINATIONCERTIFICATE] ([ECID], [PATIENTID], [STAFFID], [DATE], [RESULT], [STATE]) VALUES (CAST(10000000 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0xA05E0366 AS SmallDateTime), N'Si da thời kì cuốiaaaa', 1)
INSERT [dbo].[EXAMINATIONCERTIFICATE] ([ECID], [PATIENTID], [STAFFID], [DATE], [RESULT], [STATE]) VALUES (CAST(10000001 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0xA05D0368 AS SmallDateTime), N'Không có', 0)
SET IDENTITY_INSERT [dbo].[EXAMINATIONCERTIFICATE] OFF
/****** Object:  Table [dbo].[DISCHARGEDCERTIFICATE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCHARGEDCERTIFICATE](
	[DCID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[STAFFID] [numeric](8, 0) NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[DATE] [smalldatetime] NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_DISCHARGEDCERTIFICATE] PRIMARY KEY NONCLUSTERED 
(
	[DCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DISCHARGEDCERTIFICATE] ON
INSERT [dbo].[DISCHARGEDCERTIFICATE] ([DCID], [STAFFID], [PATIENTID], [DATE], [STATE]) VALUES (CAST(10000002 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0xA0610000 AS SmallDateTime), 1)
INSERT [dbo].[DISCHARGEDCERTIFICATE] ([DCID], [STAFFID], [PATIENTID], [DATE], [STATE]) VALUES (CAST(10000003 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(0xA05E0000 AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[DISCHARGEDCERTIFICATE] OFF
/****** Object:  Table [dbo].[BILL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[BILLID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[BILLTYPEID] [numeric](3, 0) NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[STAFFID] [numeric](8, 0) NULL,
	[DATE] [smalldatetime] NULL,
	[TOTALPRICE] [money] NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_BILL] PRIMARY KEY NONCLUSTERED 
(
	[BILLID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSIGNMENTDETAIL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNMENTDETAIL](
	[ASSIGNID] [numeric](8, 0) NULL,
	[STAFFID] [numeric](8, 0) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ASSIGNMENTDETAIL] ([ASSIGNID], [STAFFID]) VALUES (CAST(10000002 AS Numeric(8, 0)), CAST(10000002 AS Numeric(8, 0)))
INSERT [dbo].[ASSIGNMENTDETAIL] ([ASSIGNID], [STAFFID]) VALUES (CAST(10000002 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)))
INSERT [dbo].[ASSIGNMENTDETAIL] ([ASSIGNID], [STAFFID]) VALUES (CAST(10000003 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)))
/****** Object:  Table [dbo].[HOSPITALIZATIONCERTIFICATE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITALIZATIONCERTIFICATE](
	[HCID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[STAFFID] [numeric](8, 0) NULL,
	[REASON] [nvarchar](1000) NULL,
	[DATE] [smalldatetime] NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_HOSPITALIZATIONCERTIFICATE] PRIMARY KEY NONCLUSTERED 
(
	[HCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HOSPITALIZATIONCERTIFICATE] ON
INSERT [dbo].[HOSPITALIZATIONCERTIFICATE] ([HCID], [PATIENTID], [STAFFID], [REASON], [DATE], [STATE]) VALUES (CAST(10000002 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), N'Kiểm tra xem có xi da hay koooooo', CAST(0xA05D0000 AS SmallDateTime), 1)
INSERT [dbo].[HOSPITALIZATIONCERTIFICATE] ([HCID], [PATIENTID], [STAFFID], [REASON], [DATE], [STATE]) VALUES (CAST(10000006 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), N'aaa', CAST(0xA05F0000 AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[HOSPITALIZATIONCERTIFICATE] OFF
/****** Object:  Table [dbo].[TESTCERTIFICATE]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTCERTIFICATE](
	[TCID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[STAFFID] [numeric](8, 0) NULL,
	[DATE] [datetime] NULL,
	[STATE] [int] NULL,
 CONSTRAINT [PK_TESTCERTIFICATE] PRIMARY KEY NONCLUSTERED 
(
	[TCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TESTCERTIFICATE] ON
INSERT [dbo].[TESTCERTIFICATE] ([TCID], [PATIENTID], [STAFFID], [DATE], [STATE]) VALUES (CAST(10000001 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0x0000A06000000000 AS DateTime), 1)
INSERT [dbo].[TESTCERTIFICATE] ([TCID], [PATIENTID], [STAFFID], [DATE], [STATE]) VALUES (CAST(10000002 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0x0000A06200000000 AS DateTime), 1)
INSERT [dbo].[TESTCERTIFICATE] ([TCID], [PATIENTID], [STAFFID], [DATE], [STATE]) VALUES (CAST(10000003 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(0x0000A05F00000000 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[TESTCERTIFICATE] OFF
/****** Object:  Table [dbo].[SURGICALDETAIL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SURGICALDETAIL](
	[SURGICALID] [numeric](8, 0) NULL,
	[STAFFID] [numeric](8, 0) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SURGICALDETAIL] ([SURGICALID], [STAFFID]) VALUES (CAST(10000003 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)))
INSERT [dbo].[SURGICALDETAIL] ([SURGICALID], [STAFFID]) VALUES (CAST(10000003 AS Numeric(8, 0)), CAST(10000002 AS Numeric(8, 0)))
INSERT [dbo].[SURGICALDETAIL] ([SURGICALID], [STAFFID]) VALUES (CAST(10000004 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)))
/****** Object:  Table [dbo].[PRESCRIPTION]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESCRIPTION](
	[PRESCRIPTIONID] [numeric](8, 0) IDENTITY(10000000,1) NOT NULL,
	[STAFFID] [numeric](8, 0) NULL,
	[PATIENTID] [numeric](8, 0) NULL,
	[DATE] [smalldatetime] NULL,
 CONSTRAINT [PK_PRESCRIPTION] PRIMARY KEY NONCLUSTERED 
(
	[PRESCRIPTIONID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRESCRIPTION] ON
INSERT [dbo].[PRESCRIPTION] ([PRESCRIPTIONID], [STAFFID], [PATIENTID], [DATE]) VALUES (CAST(10000007 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(0xA05D0341 AS SmallDateTime))
INSERT [dbo].[PRESCRIPTION] ([PRESCRIPTIONID], [STAFFID], [PATIENTID], [DATE]) VALUES (CAST(10000005 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(0xA05C0519 AS SmallDateTime))
INSERT [dbo].[PRESCRIPTION] ([PRESCRIPTIONID], [STAFFID], [PATIENTID], [DATE]) VALUES (CAST(10000006 AS Numeric(8, 0)), CAST(10000000 AS Numeric(8, 0)), CAST(10000001 AS Numeric(8, 0)), CAST(0xA05C0519 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[PRESCRIPTION] OFF
/****** Object:  Table [dbo].[TESTDETAIL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTDETAIL](
	[TESTTYPEID] [numeric](3, 0) NULL,
	[TCID] [numeric](8, 0) NULL,
	[RESULT] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TESTDETAIL] ([TESTTYPEID], [TCID], [RESULT]) VALUES (CAST(100 AS Numeric(3, 0)), CAST(10000001 AS Numeric(8, 0)), N'aaaa')
INSERT [dbo].[TESTDETAIL] ([TESTTYPEID], [TCID], [RESULT]) VALUES (CAST(101 AS Numeric(3, 0)), CAST(10000001 AS Numeric(8, 0)), N'Aaaaa')
INSERT [dbo].[TESTDETAIL] ([TESTTYPEID], [TCID], [RESULT]) VALUES (CAST(101 AS Numeric(3, 0)), CAST(10000002 AS Numeric(8, 0)), N'aaaaa')
/****** Object:  Table [dbo].[SERVICEBILLDETAIL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICEBILLDETAIL](
	[BILLID] [numeric](8, 0) NULL,
	[SERVICEID] [numeric](3, 0) NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENTMATERIALBILLDETAIL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTMATERIALBILLDETAIL](
	[BILLID] [numeric](8, 0) NULL,
	[MATERIALID] [numeric](3, 0) NOT NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESCRIPTIONDETAIL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESCRIPTIONDETAIL](
	[MEDICINEID] [numeric](6, 0) NULL,
	[PRESCRIPTIONID] [numeric](8, 0) NULL,
	[QUANTITY] [int] NULL,
	[INSTRUCTION] [nvarchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PRESCRIPTIONDETAIL] ([MEDICINEID], [PRESCRIPTIONID], [QUANTITY], [INSTRUCTION]) VALUES (CAST(100000 AS Numeric(6, 0)), CAST(10000005 AS Numeric(8, 0)), 2, N'aaaaaaaa')
INSERT [dbo].[PRESCRIPTIONDETAIL] ([MEDICINEID], [PRESCRIPTIONID], [QUANTITY], [INSTRUCTION]) VALUES (CAST(100004 AS Numeric(6, 0)), CAST(10000005 AS Numeric(8, 0)), 2, N'aaaaaaa')
INSERT [dbo].[PRESCRIPTIONDETAIL] ([MEDICINEID], [PRESCRIPTIONID], [QUANTITY], [INSTRUCTION]) VALUES (CAST(100004 AS Numeric(6, 0)), CAST(10000007 AS Numeric(8, 0)), 2, N'aaaaa')
/****** Object:  Table [dbo].[MEDICINEBILLDETAIL]    Script Date: 05/29/2012 23:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINEBILLDETAIL](
	[MEDICINEID] [numeric](6, 0) NOT NULL,
	[BILLID] [numeric](8, 0) NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_ASSIGNMENT_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[ASSIGNMENT]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGNMENT_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[ASSIGNMENT] CHECK CONSTRAINT [FK_ASSIGNMENT_PATIENT]
GO
/****** Object:  ForeignKey [FK_ASSIGNME_RELATIONS_ASSIGNME]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[ASSIGNMENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGNME_RELATIONS_ASSIGNME] FOREIGN KEY([ASSIGNID])
REFERENCES [dbo].[ASSIGNMENT] ([ASSIGNID])
GO
ALTER TABLE [dbo].[ASSIGNMENTDETAIL] CHECK CONSTRAINT [FK_ASSIGNME_RELATIONS_ASSIGNME]
GO
/****** Object:  ForeignKey [FK_ASSIGNME_RELATIONS_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[ASSIGNMENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGNME_RELATIONS_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[ASSIGNMENTDETAIL] CHECK CONSTRAINT [FK_ASSIGNME_RELATIONS_STAFF]
GO
/****** Object:  ForeignKey [FK_BILL_RELATIONS_BILLTYPE]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_RELATIONS_BILLTYPE] FOREIGN KEY([BILLTYPEID])
REFERENCES [dbo].[BILLTYPE] ([BILLTYPEID])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_RELATIONS_BILLTYPE]
GO
/****** Object:  ForeignKey [FK_BILL_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_BILL_RELATIONS_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_RELATIONS_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_RELATIONS_STAFF]
GO
/****** Object:  ForeignKey [FK_DISCHARG_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[DISCHARGEDCERTIFICATE]  WITH CHECK ADD  CONSTRAINT [FK_DISCHARG_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[DISCHARGEDCERTIFICATE] CHECK CONSTRAINT [FK_DISCHARG_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_DISCHARG_RELATIONS_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[DISCHARGEDCERTIFICATE]  WITH CHECK ADD  CONSTRAINT [FK_DISCHARG_RELATIONS_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[DISCHARGEDCERTIFICATE] CHECK CONSTRAINT [FK_DISCHARG_RELATIONS_STAFF]
GO
/****** Object:  ForeignKey [FK_EXAMINAT_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[EXAMINATIONCERTIFICATE]  WITH CHECK ADD  CONSTRAINT [FK_EXAMINAT_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[EXAMINATIONCERTIFICATE] CHECK CONSTRAINT [FK_EXAMINAT_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_EXAMINAT_RELATIONS_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[EXAMINATIONCERTIFICATE]  WITH CHECK ADD  CONSTRAINT [FK_EXAMINAT_RELATIONS_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[EXAMINATIONCERTIFICATE] CHECK CONSTRAINT [FK_EXAMINAT_RELATIONS_STAFF]
GO
/****** Object:  ForeignKey [FK_HEATHFIL_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[HEATHFILE]  WITH CHECK ADD  CONSTRAINT [FK_HEATHFIL_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[HEATHFILE] CHECK CONSTRAINT [FK_HEATHFIL_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_HEATHMON_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[HEATHMONITORINGNOTE]  WITH CHECK ADD  CONSTRAINT [FK_HEATHMON_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[HEATHMONITORINGNOTE] CHECK CONSTRAINT [FK_HEATHMON_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_HM_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[HEATHMONITORINGNOTE]  WITH CHECK ADD  CONSTRAINT [FK_HM_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[HEATHMONITORINGNOTE] CHECK CONSTRAINT [FK_HM_STAFF]
GO
/****** Object:  ForeignKey [FK_HIC_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[HIC]  WITH CHECK ADD  CONSTRAINT [FK_HIC_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[HIC] CHECK CONSTRAINT [FK_HIC_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_HOSPITAL_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[HOSPITALIZATIONCERTIFICATE]  WITH CHECK ADD  CONSTRAINT [FK_HOSPITAL_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[HOSPITALIZATIONCERTIFICATE] CHECK CONSTRAINT [FK_HOSPITAL_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_HOSPITAL_RELATIONS_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[HOSPITALIZATIONCERTIFICATE]  WITH CHECK ADD  CONSTRAINT [FK_HOSPITAL_RELATIONS_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[HOSPITALIZATIONCERTIFICATE] CHECK CONSTRAINT [FK_HOSPITAL_RELATIONS_STAFF]
GO
/****** Object:  ForeignKey [FK_MEDICINE_RELATIONS_BILL]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[MEDICINEBILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_MEDICINE_RELATIONS_BILL] FOREIGN KEY([BILLID])
REFERENCES [dbo].[BILL] ([BILLID])
GO
ALTER TABLE [dbo].[MEDICINEBILLDETAIL] CHECK CONSTRAINT [FK_MEDICINE_RELATIONS_BILL]
GO
/****** Object:  ForeignKey [FK_MEDICINE_RELATIONS_MEDICINE]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[MEDICINEBILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_MEDICINE_RELATIONS_MEDICINE] FOREIGN KEY([MEDICINEID])
REFERENCES [dbo].[MEDICINE] ([MEDICINEID])
GO
ALTER TABLE [dbo].[MEDICINEBILLDETAIL] CHECK CONSTRAINT [FK_MEDICINE_RELATIONS_MEDICINE]
GO
/****** Object:  ForeignKey [FK_PRESCRIP_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[PRESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK_PRESCRIP_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[PRESCRIPTION] CHECK CONSTRAINT [FK_PRESCRIP_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_PRESCRIP_RELATIONS_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[PRESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK_PRESCRIP_RELATIONS_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[PRESCRIPTION] CHECK CONSTRAINT [FK_PRESCRIP_RELATIONS_STAFF]
GO
/****** Object:  ForeignKey [FK_PRESCRIP_RELATIONS_MEDICINE]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[PRESCRIPTIONDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PRESCRIP_RELATIONS_MEDICINE] FOREIGN KEY([MEDICINEID])
REFERENCES [dbo].[MEDICINE] ([MEDICINEID])
GO
ALTER TABLE [dbo].[PRESCRIPTIONDETAIL] CHECK CONSTRAINT [FK_PRESCRIP_RELATIONS_MEDICINE]
GO
/****** Object:  ForeignKey [FK_PRESCRIP_RELATIONS_PRESCRIP]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[PRESCRIPTIONDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PRESCRIP_RELATIONS_PRESCRIP] FOREIGN KEY([PRESCRIPTIONID])
REFERENCES [dbo].[PRESCRIPTION] ([PRESCRIPTIONID])
GO
ALTER TABLE [dbo].[PRESCRIPTIONDETAIL] CHECK CONSTRAINT [FK_PRESCRIP_RELATIONS_PRESCRIP]
GO
/****** Object:  ForeignKey [FK_RENTMATE_RELATIONS_BILL]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[RENTMATERIALBILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_RENTMATE_RELATIONS_BILL] FOREIGN KEY([BILLID])
REFERENCES [dbo].[BILL] ([BILLID])
GO
ALTER TABLE [dbo].[RENTMATERIALBILLDETAIL] CHECK CONSTRAINT [FK_RENTMATE_RELATIONS_BILL]
GO
/****** Object:  ForeignKey [FK_RENTMATE_RELATIONS_MATERIAL]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[RENTMATERIALBILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_RENTMATE_RELATIONS_MATERIAL] FOREIGN KEY([MATERIALID])
REFERENCES [dbo].[MATERIAL] ([MATERIALID])
GO
ALTER TABLE [dbo].[RENTMATERIALBILLDETAIL] CHECK CONSTRAINT [FK_RENTMATE_RELATIONS_MATERIAL]
GO
/****** Object:  ForeignKey [FK_ROLEDETAIL_RELATIONS_ROLE]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[ROLEDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ROLEDETAIL_RELATIONS_ROLE] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLE] ([ROLEID])
GO
ALTER TABLE [dbo].[ROLEDETAIL] CHECK CONSTRAINT [FK_ROLEDETAIL_RELATIONS_ROLE]
GO
/****** Object:  ForeignKey [FK_ROLEDETAIL_RELATIONS_ROLEFUNCTION]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[ROLEDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ROLEDETAIL_RELATIONS_ROLEFUNCTION] FOREIGN KEY([FUNCTIONID])
REFERENCES [dbo].[ROLEFUNCTION] ([FUNCTIONID])
GO
ALTER TABLE [dbo].[ROLEDETAIL] CHECK CONSTRAINT [FK_ROLEDETAIL_RELATIONS_ROLEFUNCTION]
GO
/****** Object:  ForeignKey [FK_SERVICEB_RELATIONS_BILL]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[SERVICEBILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SERVICEB_RELATIONS_BILL] FOREIGN KEY([BILLID])
REFERENCES [dbo].[BILL] ([BILLID])
GO
ALTER TABLE [dbo].[SERVICEBILLDETAIL] CHECK CONSTRAINT [FK_SERVICEB_RELATIONS_BILL]
GO
/****** Object:  ForeignKey [FK_SERVICEB_RELATIONS_SERVICE]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[SERVICEBILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SERVICEB_RELATIONS_SERVICE] FOREIGN KEY([SERVICEID])
REFERENCES [dbo].[SERVICE] ([SERVICEID])
GO
ALTER TABLE [dbo].[SERVICEBILLDETAIL] CHECK CONSTRAINT [FK_SERVICEB_RELATIONS_SERVICE]
GO
/****** Object:  ForeignKey [FK_STAFF_RELATIONS_DEPARTME]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_RELATIONS_DEPARTME] FOREIGN KEY([DEPARTMENTID])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENTID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_RELATIONS_DEPARTME]
GO
/****** Object:  ForeignKey [FK_STAFF_RELATIONS_MAJOR]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_RELATIONS_MAJOR] FOREIGN KEY([MAJORID])
REFERENCES [dbo].[MAJOR] ([MAJORID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_RELATIONS_MAJOR]
GO
/****** Object:  ForeignKey [FK_STAFF_RELATIONS_ROLE]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_RELATIONS_ROLE] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLE] ([ROLEID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_RELATIONS_ROLE]
GO
/****** Object:  ForeignKey [FK_SURGICAL_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[SURGICAL]  WITH CHECK ADD  CONSTRAINT [FK_SURGICAL_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[SURGICAL] CHECK CONSTRAINT [FK_SURGICAL_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_SURGICAL_RELATIONS_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[SURGICALDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SURGICAL_RELATIONS_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[SURGICALDETAIL] CHECK CONSTRAINT [FK_SURGICAL_RELATIONS_STAFF]
GO
/****** Object:  ForeignKey [FK_SURGICAL_RELATIONS_SURGICAL]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[SURGICALDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SURGICAL_RELATIONS_SURGICAL] FOREIGN KEY([SURGICALID])
REFERENCES [dbo].[SURGICAL] ([SURGICALID])
GO
ALTER TABLE [dbo].[SURGICALDETAIL] CHECK CONSTRAINT [FK_SURGICAL_RELATIONS_SURGICAL]
GO
/****** Object:  ForeignKey [FK_TESTCERT_RELATIONS_PATIENT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[TESTCERTIFICATE]  WITH CHECK ADD  CONSTRAINT [FK_TESTCERT_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[TESTCERTIFICATE] CHECK CONSTRAINT [FK_TESTCERT_RELATIONS_PATIENT]
GO
/****** Object:  ForeignKey [FK_TESTCERT_RELATIONS_STAFF]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[TESTCERTIFICATE]  WITH CHECK ADD  CONSTRAINT [FK_TESTCERT_RELATIONS_STAFF] FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFF] ([STAFFID])
GO
ALTER TABLE [dbo].[TESTCERTIFICATE] CHECK CONSTRAINT [FK_TESTCERT_RELATIONS_STAFF]
GO
/****** Object:  ForeignKey [FK_TESTDETA_RELATIONS_TESTCERT]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[TESTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TESTDETA_RELATIONS_TESTCERT] FOREIGN KEY([TCID])
REFERENCES [dbo].[TESTCERTIFICATE] ([TCID])
GO
ALTER TABLE [dbo].[TESTDETAIL] CHECK CONSTRAINT [FK_TESTDETA_RELATIONS_TESTCERT]
GO
/****** Object:  ForeignKey [FK_TESTDETA_RELATIONS_TESTTYPE]    Script Date: 05/29/2012 23:45:13 ******/
ALTER TABLE [dbo].[TESTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TESTDETA_RELATIONS_TESTTYPE] FOREIGN KEY([TESTTYPEID])
REFERENCES [dbo].[TESTTYPE] ([TESTTYPEID])
GO
ALTER TABLE [dbo].[TESTDETAIL] CHECK CONSTRAINT [FK_TESTDETA_RELATIONS_TESTTYPE]
GO
